@media (max-width: 1299px) {
    .slick-prev {
        left: 5px;
    }

    .slick-next {
        right: 5px;
    }

    .megamenu ul {
        padding-right: 10px;
    }

    .blog-details-box {
        padding-right: 75px;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .megamenu ul {
        padding-right: 0;
    }

    .megamenu a {
        font-size: 15px;
        padding: 36px 6px;
    }

    .headers.active .megamenu a {
        padding: 25px 6px;
    }

    .button-regis .btn {
        padding: 0 10px;
    }

    .features-content .item {
        width: 50%;
    }

    .blogs-site .blogs-box .blog-image {
        max-width: 40%;
    }

    .blogs-site .blogs-box .blog-content {
        max-width: 60%;
        padding-left: 15px;
    }

    .product-detail-content {
        max-width: 100%;
    }

    .product-detail-images {
        margin: 0 auto 25px;
    }

    .product-detail-content {
        padding-left: 0;
    }

    .product-description-content {
        padding-bottom: 50px;
    }

    .blog-details-box {
        padding-right: 0;
    }

    .recruitment-detail-box .recruitment-information li {
        margin-right: 50px;
    }

    .blog-details-box .blog-short-des p {
        height: 56px;
        overflow: auto;
    }

    /*.fb_dialog_content iframe {
        bottom: 100px !important;
    }*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    .shop-content .item {
        width: 50%;
    }

    .shop-content .product-image img {
        max-width: 100% !important;
        max-height: 100% !important;
    }
}

@media(max-width: 1199.98px) {
    .back-to-top {
        bottom: 325px;
    }

    /*.society__group {
        bottom: 23%;
    }*/

}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .slick-dots {
        bottom: 10px;
    }

    .header-stick {
        padding: 28px 0;
    }

    .headers.active .header-stick {
        padding: 18px 0;
    }

    .contact-box ul,
    .header-top .groups-box {
        justify-content: center;
    }

    .contact-box ul {
        margin-bottom: 10px;
    }

    .megamenu-mobile {
        margin-left: 30px;
    }

    .menu-open span,
    .menu-open span:before,
    .menu-open span:after {
        background-color: #0e773c;
    }

    .megamenu ul {
        display: block;
    }

    .headers.active .megamenu a,
    .megamenu a {
        background: none !important;
        padding: 10px 30px;
    }

    .art-about-us .width-box {
        max-width: 100%;
        position: initial;
        margin-top: 20px;
    }

    .art-banners ul {
        display: flex;
        margin: 0 -15px;
    }

    .art-banners li {
        padding: 0 15px;
    }

    .product-details-content {
        margin-top: 30px;
    }

    .popups-box {
        max-width: calc(100% - 30px);
    }

    .about-us-site .banner-image {
        margin-bottom: 25px;
    }

    .about-us-site .banner-image img {
        max-width: 100% !important;
        max-height: 100% !important;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .features-content .item {
        width: 100%;
    }

    .blog-image img {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .shop-content .item {
        width: 50%;
    }

    .blogs-site .blogs-box .blog-image,
    .blogs-site .blogs-box .blog-content {
        max-width: 100%;
        padding-left: 0;
    }

    .blogs-site .blogs-box .blog-image {
        margin-bottom: 10px;
    }

    .blogs-site .active .blog-box .blog-content {
        padding: 0 15px 25px;
    }

    .blogs-site .active .blog-link {
        font-size: 20px;
    }

    .blogs-site .active label {
        margin-bottom: 0;
    }

    .popups-content {
        padding: 48px 50px 90px;
    }

    .recruitments-content .item {
        width: 50%;
    }

    .title-recruitment-form .title {
        font-size: 25px;
    }

    .shop-content-list .product-image {
        max-width: 200px;
    }

    .shop-content-list .product-content {
        max-width: calc(100% - 200px);
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 24px;
    }

    .contact-box ul {
        flex-direction: column;
        margin: 0 0 10px;
    }

    .contact-box li {
        border: none;
    }

    .socials-list li {
        margin-right: 10px;
    }

    .megamenu-mobile {
        margin-left: 15px;
    }

    .art-about-us .banner-content {
        padding: 15px;
    }

    .contacts-form .form-group-control {
        flex-direction: column;
    }

    .contacts-form .form-group-control .form-group {
        width: 100%;
    }

    .product-image img {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .shop-content .item {
        width: 100%;
    }

    .popups-content {
        padding: 48px 15px 90px;
    }

    .about-us-site .art-about-us .banner-content {
        padding: 0;
    }

    .recruitments-content .item {
        width: 100%;
    }

    .recruitment-image img {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .title-recruitment-detail .title {
        display: block;
    }

    .recruitment-form-site .recruitment-form-content .btn {
        padding: 9px 50px;
    }

    .recruitment-form-site .recruitment-form-content .upload-file {
        display: block;
    }

    .shop-content-list .product-image,
    .shop-content-list .product-content {
        max-width: 100%;
        padding-left: 0;
    }

    .shop-content-list .product-image {
        margin-bottom: 13px;
    }

    .product-detail-content .btn {
        margin-right: 0;
    }

    .product-detail-content .btn-oder {
        padding: 6px 25px;
    }

    .blogs-site .active .blog-box .content {
        padding: 0;
    }

    .blogs-site .active .blog-box .blog-content {
        padding: 5px;
    }

    .blogs-site .active .blog-link {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}